body {
    font-family: 'Roboto', sans-serif;
    background-color: #21242C;
  
}



header {
	width: 100%;
	height: 175px;
}

#logo {
	width: 25%;
    float: left;
	padding-bottom: 30px;
    /* marge intérieure de l'élément padding = rembourrage */
    /* l'aspect de la boite */
}



#aplague { /* on ne cible que cette image, on la trouve par son chemin dans le fichier html */
	display: block;
	padding-bottom: 60px;
	margin: auto;
	width: 35%;
}



main {
  box-sizing: border-box;
  border: solid #1868d0 10px;
  border-radius: 10px;
  padding: 5px;
  margin: 50px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  padding: 15px;
}


section {
  text-align: center;
  padding-bottom: 30px;
}

button {
  margin: 20px;
}



a   {
    text-decoration: none;
  }

h2 {
  padding: 50px;
}

.xbox {
  margin: 50px;
}

footer {
    text-align: center;
}