:root {

  --noir-intense : #000000;
  --jaune : #ffcd1e;
  --gris-sombre : #21242c;

}

body {
    font-family: 'Roboto', sans-serif;
}



header {
	width: 100%;
	height: 175px;
}

#logo {
	width: 25%;
  float: left;
	padding-bottom: 30px;
    /* marge intérieure de l'élément padding = rembourrage */
    /* l'aspect de la boite */
}



#aplague { 
	display: block;
	padding-bottom: 60px;
	margin: auto;
	width: 35%;
}

.btn-contact {
  margin: 10px;
}



main {
  background-color: var(--noir-intense);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: solid var(--noir-intense) 10px;
  border-radius: 25px;
  padding: 5px;
  margin: 50px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  padding: 15px;
}


section {
  text-align: center;
  padding-bottom: 30px;
}

.personnage {
  padding: 20px;
  margin: 0%;
}

button {
  margin: 20px;
}



a   {
    text-decoration: none;
  }

ul {
  text-decoration: none;
}  

h2 {
  padding: 50px;
}

.xbox {
  margin: 50px;
}

.reseau {
  padding: 20px;
}

footer {
    text-align: center;
}